<a href="https://colab.research.google.com/github/neohack22/Software_Engineering/blob/apprenez-a-programmer-en-python/deux_methodes_de_tri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Appliquez deux méthodes de tri en Python

## Première approche du tri

Le tri en Python se fait grâce à la méthode de liste *sort*, qui modifie la liste d'origine, et la fonction *sorted*, qui ne modifie pas la liste (ou la séquence) passée en paramètre

### Deux méthodes

In [1]:
prenoms = ["Jacques", "Laure", "André", "Victoire", "Albert", "Sophie"]
prenoms.sort()
prenoms

['Albert', 'André', 'Jacques', 'Laure', 'Sophie', 'Victoire']

In [2]:
# Et avec la fonction 'sorted'
prenoms = ["Jacques", "Laure", "André", "Victoire", "Albert", "Sophie"]
sorted(prenoms)

['Albert', 'André', 'Jacques', 'Laure', 'Sophie', 'Victoire']

In [3]:
prenoms

['Jacques', 'Laure', 'André', 'Victoire', 'Albert', 'Sophie']

### Aperçu des critères de tri

In [4]:
sorted([1, 8, -2, 15, 9])

[-2, 1, 8, 9, 15]

In [5]:
sorted(["1", "8", "-2", "15", "9"])

['-2', '1', '15', '8', '9']

In [6]:
sorted([1, "8", "-2", "15", 9])

TypeError: ignored

## Trier avec des clés précises

In [0]:
etudiants = [
             ("Clément", 14, 16),
             ("Charles", 12, 15),
             ("Oriane", 14, 18),
             ("Thomas", 11, 12),
             ("Damien", 12, 15),
]

In [8]:
sorted(etudiants)

[('Charles', 12, 15),
 ('Clément', 14, 16),
 ('Damien', 12, 15),
 ('Oriane', 14, 18),
 ('Thomas', 11, 12)]

## L'argument key

On peut spécifier des fonctions clés grâce à l'argument *key*. Ces fonctions sont appelées pour chaque élément de la séquence à trier, et retournent le critère du tri

In [9]:
doubler = lambda x: x * 2
doubler

In [10]:
doubler(8)

16

In [11]:
lambda colonnes: colonnes[2]

In [12]:
sorted(etudiants, key=lambda colonnes: colonnes[2])

[('Thomas', 11, 12),
 ('Charles', 12, 15),
 ('Damien', 12, 15),
 ('Clément', 14, 16),
 ('Oriane', 14, 18)]

### Trier une liste d'objets

In [0]:
class Etudiant:

  """Classe représentant un étudiant.

  On représente un étudiant par son prénom (attribut prenom), son âge
  (attribut age) et sa note moyenne (attribut moyenne, entre 0 et 20).

  Paramètres du constructeur :
    prenom -- le prénom de l'étudiant
    age -- l'âge de l'étudiant
    moyenne -- la moyenne de l'étudiant

  """

  def __init__(self, prenom, age, moyenne):
    self.prenom = prenom
    self.age = age
    self.moyenne = moyenne

  def __repr__(self):
    return "<Etudiant {} (âge={}, moyenne={})>".format(
        self.prenom, self.age, self.moyenne)

In [0]:
etudiants = [
            Etudiant("Clément", 14, 16),
            Etudiant("Charles", 12, 15),
            Etudiant("Oriane", 14, 18),
            Etudiant("Thomas", 11, 12),
            Etudiant("Damien", 12, 15)
]

In [17]:
etudiants

[<Etudiant Clément (âge=14, moyenne=16)>,
 <Etudiant Charles (âge=12, moyenne=15)>,
 <Etudiant Oriane (âge=14, moyenne=18)>,
 <Etudiant Thomas (âge=11, moyenne=12)>,
 <Etudiant Damien (âge=12, moyenne=15)>]

In [18]:
sorted(etudiants)

TypeError: ignored

In [19]:
sorted(etudiants, key=lambda etudiant: etudiant.moyenne)

[<Etudiant Thomas (âge=11, moyenne=12)>,
 <Etudiant Charles (âge=12, moyenne=15)>,
 <Etudiant Damien (âge=12, moyenne=15)>,
 <Etudiant Clément (âge=14, moyenne=16)>,
 <Etudiant Oriane (âge=14, moyenne=18)>]

### Trier dans l'ordre inverse

> #### NameError: name 'etudiands' is not defined

In [0]:
sorted(etudiands, key=lambda etudiant: etudiant.age, reverse=True)

> #### End of NameError

In [21]:
sorted(etudiants, key=lambda etudiant: etudiant.age, reverse=True)

[<Etudiant Clément (âge=14, moyenne=16)>,
 <Etudiant Oriane (âge=14, moyenne=18)>,
 <Etudiant Charles (âge=12, moyenne=15)>,
 <Etudiant Damien (âge=12, moyenne=15)>,
 <Etudiant Thomas (âge=11, moyenne=12)>]

## Plus rapide et plus efficace

### Les fonctions du module operator

Le module *operator* propose les fonctions *itemgetter* et *attrgetter* qui peuvent être très utiles en tant que fonction clés, si on veut trier une liste de tuples ou une liste d'objets selon un attribut

In [0]:
etudiants = [
             ("Clément", 14, 16),
             ("Charles", 12, 15),
             ("Oriane", 14, 18),
             ("Thomas", 11, 12),
             ("Damien", 12, 15),
]

In [23]:
sorted(etudiants, key=lambda  etudiant: etudiant[2])

[('Thomas', 11, 12),
 ('Charles', 12, 15),
 ('Damien', 12, 15),
 ('Clément', 14, 16),
 ('Oriane', 14, 18)]

In [0]:
from operator import itemgettersorted(etudiants, key=itemgetter(2))

### Trier une liste d'objets

In [0]:
class Etudiant:

  """Classe représentant un étudiant.

  On représente un étudiant par son prénom (attribut prenom), son âge
  (attribut age) et sa note moyenne (attribut moyenne, entre 0 et 20).

  Paramètres du constructeur :
  prenoù -- le prénom de l'étudiant
  age -- l'âge de l'étudiant
  moyenne -- la moyenne de l'étudiant

  """

  def __init__(self, prenom, age, moyenne):
    self.prenom = prenom
    self.age = age
    self.moyenne = moyenne

  def __repr__(self):
    return "<Etudiant {} (âge={}, moyenne={})>".format(
        self.prenom, self.age, self.moyenne)
    
etudiants = [
             Etudiant("Clément", 14, 16),
             Etudiant("Charles", 12, 15),
             Etudiant("Oriane", 14, 18),
             Etudiant("Thomas", 11, 12),
             Etudiant("Damien", 12, 15),
]



> #### SyntaxError: invalid syntax

In [0]:
from operator import attrgettersorted(etudiants, key=attrgetter("moyenne"))

> #### End of SyntaxError

In [26]:
from operator import attrgetter
sorted(etudiants, key=attrgetter("moyenne"))

[<Etudiant Thomas (âge=11, moyenne=12)>,
 <Etudiant Charles (âge=12, moyenne=15)>,
 <Etudiant Damien (âge=12, moyenne=15)>,
 <Etudiant Clément (âge=14, moyenne=16)>,
 <Etudiant Oriane (âge=14, moyenne=18)>]

### Trier selon plusieurs critères

In [27]:
sorted(etudiants, key=attrgetter("age", "moyenne"))

[<Etudiant Thomas (âge=11, moyenne=12)>,
 <Etudiant Charles (âge=12, moyenne=15)>,
 <Etudiant Damien (âge=12, moyenne=15)>,
 <Etudiant Clément (âge=14, moyenne=16)>,
 <Etudiant Oriane (âge=14, moyenne=18)>]

### Chaînage de tris

Le tri en Python est « stable », c'est-à-dire que l'ordre de deux éléments dans la liste n'est pas modifié s'ils sont égaux. Cette propriété permet le chaînage de tri.

In [0]:
class LigneInventaire:

  """Classe représentant une ligne d'un inventaire de vente.

  Attributs attendus par le constructeur :
    produit -- le nom du produit
    prix -- le prix unitaire du produit
    quantite -- la quantite vendue du produit.

  """

  def __init__(self, produit, prix, quantite):
    self.produit = produit
    self.prix = prix
    self.quantite = quantite

  def __repr__(self):
    return "<Ligne d'inventaire {} ({}X{})>".format(
        self.produit, self.prix, self.quantite)
    
# Création de l'inventaire
inventaire = [
              LigneInventaire("pomme rouge", 1.2, 19),
              LigneInventaire("orange", 1.4, 24),
              LigneInventaire("banane", 0.9, 21),
              LigneInventaire("poire", 1.2, 24),
]

In [29]:
from operator import attrgetter
sorted(inventaire, key=attrgetter("prix", "quantite"))

[<Ligne d'inventaire banane (0.9X21)>,
 <Ligne d'inventaire pomme rouge (1.2X19)>,
 <Ligne d'inventaire poire (1.2X24)>,
 <Ligne d'inventaire orange (1.4X24)>]

In [30]:
inventaire.sort(key=attrgetter("quantite"), reverse=True)
sorted(inventaire, key=attrgetter("prix"))

[<Ligne d'inventaire banane (0.9X21)>,
 <Ligne d'inventaire poire (1.2X24)>,
 <Ligne d'inventaire pomme rouge (1.2X19)>,
 <Ligne d'inventaire orange (1.4X24)>]

[Source](https://openclassrooms.com/fr/courses/235344-apprenez-a-programmer-en-python/2233523-appliquez-deux-methodes-de-tri-en-python)